div{
    height:100px;
    background-color:aqua;
    width:100px;
    border-width:5px;
    border-style:dotted;
    border-color:brown;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 50px;
    margin-top: 50px;;

}
/*h1{
    height:100px;
    background-color:aqua;
    border-width:5px;
    border-style:dotted;
    border-color:brown;

}