.outer {
    height:400px;
    width: 400px;
    background-color: rgb(0, 8, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height:100px;
    width: 100px;
    background-color: rgb(255, 174, 0);
    
}