 h1{
    color:pink;
}
p{
    color:purple;
}
button {
    color:chartreuse;
    background-color:azure;

}
body{
    background-color:aliceblue;
}
p{
    text-align:center;
}
h1{
    text-align:center;
} 
